<!DOCTYPE html>
<html lang="en">


<head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>

    <!-- Google Fonts --> 

    <!-- Hoja de estilos --> 
    <link rel="stylesheet" href="./style.css"> 

    <!-- Favicon --> 
    
    <title>Tiendita</title>
</head>
<body>
    <section class="main-container">
        <div class="cards-container">
            <div class="product-card">
                <img src="https://i.pinimg.com/736x/ee/62/7c/ee627c9c6f7484e74a195038900c1879.jpg" alt="">
                <div class="product-info">
                    <div>
                        <p>Tulipán Rojo</p>
                        <p>Elegante ramo de 10 tulipanes rojos,
                           perfectos para expresar amor verdadero y pasión 
                           intensa.</p>
                        <p>$220.000 COP</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>
             <div class="product-card">
                <img src="https://i.pinimg.com/1200x/db/92/f3/db92f3101071ce99f01ee69f2b57e209.jpg" alt="">
                <div class="product-info">
                    <div>
                        <p>Tulipán Amarillo</p>
                        <p>10 hermosos tulipanes amarillos que irradian alegría, felicidad
                             y amistad.</p>
                         <p>$200.000 COP</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>
             <div class="product-card">
                <img src="https://i.pinimg.com/736x/76/ad/e0/76ade0d9ac8b60034c18775deadc0fa0.jpg" alt="">
                <div class="product-info">
                    <div>
                        <p>Tulipan Rosado</p>
                        <p>Ramo de 10 tulipanes rosa suave, símbolo de 
                            cariño, ternura y afecto delicado.</p>
                            <p>$210.000 COP</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>
             <div class="product-card">
                <img src="https://i.pinimg.com/1200x/10/e1/da/10e1da1c5e5dc602922bfc17d0c70de3.jpg" alt="">
                <div class="product-info">
                    <div>
                        <p>Tulipán Blanco</p>
                        <p>Elegante ramo de 10 tulipanes blancos, que representan pureza, paz y nuevos comienzos</p>
                        <p>$210.000 COP</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>
             <div class="product-card">
                <img src="https://i.pinimg.com/736x/0f/99/9e/0f999e1736565b0f2e79a32dde86fec0.jpg" alt="">
                <div class="product-info">
                    <div>
                        <p>Tulipán Púrpura</p>
                        <p>Ramo de 10 tulipanes púrpura, que transmite nobleza, respeto y admiración.</p>
                         <p>$220.000 COP</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>
             <div class="product-card">
                <img src="https://i.pinimg.com/1200x/34/b4/51/34b451959bb7852c6633ec53b076973b.jpg" alt="">
                <div class="product-info">
                    <div>
                        <p>Tulipán Naranja</p>
                        <p>Ramo de 10 tulipanes naranja, lleno de energía, entusiasmo y optimismo</p>
                        <p>$205.000 COP</p>

                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>
             <div class="product-card">
                <img src="https://i.pinimg.com/736x/70/48/3e/70483e82197bc162b0ca3503cecc5cc3.jpg" alt="">
                <div class="product-info">
                    <div>
                        <p>Tulipán Oscuro</p>
                        <p>Ramo sofisticado de 8 tulipanes negros, símbolo de misterio, fuerza y elegancia.</p>
                        <p>$230.000 COP</p>

                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>
             <div class="product-card">
                <img src="https://i.pinimg.com/1200x/f2/a6/f1/f2a6f1d703301817de3eed40d1e94942.jpg" alt="">
                <div class="product-info">
                    <div>
                        <p>Tulipan Azul</p>
                        <p>Ramo de 10 tulipanes azules reales, serenos 
                            y delicados.</p>
                        <p>$220.000 COP</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>
             <div class="product-card">
                <img src="https://i.pinimg.com/1200x/00/38/e4/0038e4d173b08db1090106df5c353235.jpg" alt="">
                <div class="product-info">
                    <div>
                        <p>Tulipán Bicolor</p>
                        <p>Ramo de 12 tulipanes bicolores , combinando colores y
                             emociones. Simbolizan amistad y amor.</p>
                             <p>$210.000 COP</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>
             <div class="product-card">
                <img src="https://images.pexels.com/photos/2875814/pexels-photo-2875814.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 20.000</p>
                        <p>Banano</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>
             <div class="product-card">
                <img src="https://images.pexels.com/photos/2875814/pexels-photo-2875814.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 20.000</p>
                        <p>Banano</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>
             <div class="product-card">
                <img src="https://images.pexels.com/photos/2875814/pexels-photo-2875814.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 20.000</p>
                        <p>Banano</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>
             <div class="product-card">
                <img src="https://images.pexels.com/photos/2875814/pexels-photo-2875814.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 20.000</p>
                        <p>Banano</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>
             <div class="product-card">
                <img src="https://images.pexels.com/photos/2875814/pexels-photo-2875814.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 20.000</p>
                        <p>Banano</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>
             <div class="product-card">
                <img src="https://images.pexels.com/photos/2875814/pexels-photo-2875814.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 20.000</p>
                        <p>Tulipan rojo</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>
        </div>

    </section>


</body>
</html>